.list {
  padding: 0;
  margin: 0;
}

.section_heading {
  text-align: center;
  margin-bottom: 50px;
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.banner {
  min-height: calc(100vh - (70px + 60px));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner h1 {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
}

.main {
  /* 100 viewport - (header height + footer height) */
  min-height: calc(100vh - (70px + 60px));
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========== about css ====== */

.about_section {
  padding: 50px 0;
}

.aboutPage_description p {
  color: #4a4a4a;
  line-height: 1.8;
  font-size: 14px;
}

.aboutPage_description .image img {
  border-radius: 10px;
}

.aboutPage .gallery {
  padding: 50px 0;
}

.aboutPage .gallery .gallery_image img {
  width: 100%;
  border-radius: 10px;
}

.aboutPage .directors .directors_wrap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .aboutPage .directors .directors_wrap .single_img {
   width: 100px;
  height: 100px; 
} */

.aboutPage .directors .directors_wrap img {
  flex-shrink: 0;
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

/* Css for contact us page */

.contact-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

.contact-us h2 {
  font-size: 34px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-us .form-group {
  margin-bottom: 20px;
}

.contact-us .form-group label {
  font-size: 16px;
}

.formLabel {
  padding-bottom: 25px;
}

.contact-us .btn-primary {
  background-color: #00ab9b;
  border: none;
}

.contact-us .btn-primary:hover {
  background-color: #0056b3;
}
